@import "less/bootstrap";
@import "variables";
@import "cerulean-bootstrap";


body {
    background-color: white;    
}

.panel-body {
    background-color: #1995dc;
    .border-top-radius(5px);
    .border-bottom-radius(5px);

}

.map {
    color: white;
    background-color:#5cb85c;
    border-color: #4cae4c;
}