
<div class="row">
    <h3 ng-show="encounter" class="col-md-3">
        Encounter:
    </h3>
    <h3 ng-show="encounter" class="col-md-9">
        <div ng-show="$parent.difficulty.type" class="col-md-6">
            Difficulty maximum:{{maximumDifficulty()}} ({{$parent.difficulty.type}}) 
        </div>
        <div class="col-md-6">
            Current difficulty:{{encounter.difficulty.experienceValue}} ({{adjustedDifficulty}})
        </div>
    </h3>

</div>
<table wt-responsive-table class="table table-striped responsive" ng-show="encounter">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Level</th>
            <th>
                Experience
                <i class="fa fa-question-circle"
                   data-trigger="hover"
                   data-placement="top"
                   data-title="Experience is presented for individual monsters before quantity and size multipliers are applied. The value in parenthesis is the total encounter value, including quantity and size multipliers."
                   bs-tooltip>
                </i>
            </th>
            <th>Actions</th>
            <th>
                <!--<button class="btn btn-sm btn-default" type="button" ng-click="toggle = !toggle">-->

            </th>
        </tr>
    </thead>
    <tbody ng-show="toggle">
        <tr ng-repeat="monster in encounter.monsters">
            <td>{{monster.name}}</td>
            <td>{{monster.quantity}}</td>
            <td>{{monster.level}}</td>
            <td>
                {{monster.experienceValue}}
                <br />


            </td>
            <td>
                <button type="button" ng-click="addMonster(monster)" class="btn btn-sm  btn-success ">
                    <i class="fa fa-plus-circle fa-fw"></i><span>
                        Add
                    </span>
                </button>

                <button type="button" ng-click="getMonsterDetails(monster)" class="btn btn-sm  btn-info ">
                    <i class="fa fa-fw fa-info"></i><span>
                        Details
                    </span>
                </button>
            </td>
            <td>
                <button type="button" ng-click="removeMonster(monster)" class="btn  btn-danger ">
                    <i class="fa fa-trash"></i><span>
                    </span>
                </button>


            </td>
        </tr>
    </tbody>
</table>

