
<div class="row">
    <div ng-show="encounter" class="col-sm-12">
        Difficulties:
    </div>
    <div ng-show="encounter">
        <div class="col-xs-3" ng-class="{'bold': encounter.difficulty.experienceValue <= encounter.difficulty.easy}">
            Easy:{{encounter.difficulty.easy}}
        </div>
        <div class="col-xs-3" ng-class="{'bold': encounter.difficulty.experienceValue <= encounter.difficulty.medium && encounter.difficulty.experienceValue > encounter.difficulty.easy }">
            Medium:{{encounter.difficulty.medium}}
        </div>
        <div class="col-xs-3" ng-class="{'bold': encounter.difficulty.experienceValue <= encounter.difficulty.hard && encounter.difficulty.experienceValue > encounter.difficulty.medium }">
            Hard:{{encounter.difficulty.hard}}
        </div>
        <div class="col-xs-3" ng-class="{'bold': encounter.difficulty.experienceValue > encounter.difficulty.hard }">
            Deadly:{{encounter.difficulty.deadly}}{{encounter.difficulty.experienceValue > encounter.difficulty.deadly ? '++' : ''}}
        </div>
    </div>

</div>
<table wt-responsive-table class="table table-striped responsive" ng-show="encounter">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Level</th>
            <th>
                Experience
                <i class="fa fa-question-circle"
                   data-trigger="hover"
                   data-placement="top"
                   data-title="Experience is presented for individual monsters before quantity and size multipliers are applied. The currently highlighted difficulty includes quantity and size multipliers."
                   bs-tooltip>
                </i>
            </th>
            <th>Actions</th>
            <th>
                <!--intentionally left blank-->
            </th>
        </tr>
    </thead>
    <tbody ng-show="toggle">
        <tr ng-repeat="monster in encounter.monsters">
            <td>{{monster.name}}</td>
            <td>{{monster.quantity}}</td>
            <td>{{monster.level}}</td>
            <td>
                {{monster.experienceValue}}
                <br />
            </td>
            <td>
                <button type="button" ng-click="addMonster(monster)" class="btn btn-sm  btn-success ">
                    <i class="fa fa-plus-circle fa-fw"></i><span>
                        Add
                    </span>
                </button>

                <button type="button" ng-click="getMonsterDetails(monster)" class="btn btn-sm  btn-info ">
                    <i class="fa fa-fw fa-info"></i><span>
                        Details
                    </span>
                </button>
            </td>
            <td>
                <button type="button" ng-click="removeMonster(monster)" class="btn  btn-danger ">
                    <i class="fa fa-trash"></i><span>
                    </span>
                </button>
            </td>
        </tr>
    </tbody>
</table>

