<div class="row">

    <div class="sidebar col-sm-4 col-md-5" ng-if="foo" style="max-height: 75%;overflow-y:auto" >
        <label>Filter: <input ng-model="filterMonsters.name"></label>
        <ul class="navs nav-tabs nav-stacked" >
            <li ng-repeat="monster in allMonsters | filter:filterMonsters" class="list-group-item">
                {{monster.name}} -- {{monster.experienceValue}}
                <button type="button" class="pull-right" ng-click="addMonster(monster)">></button>
            </li>
        </ul>
    </div>
    <div class="well col-sm-8 col-md-7">
        <form class="form-horizontal" name="formEncounter">
            <div class="form-group">
                <div class="col-md-3">
                    <label for="NumberOfCharactersSelect" class="control-label">Number of characters</label>
                    <select class="form-control" name="numOfChars" id="NumberOfCharactersSelect" placeholder="" ng-model="numberOfCharacters" required ng-options="level as level for level in levels"></select>
                </div>

                <div class="col-md-3">
                    <label for="LevelOfCharacters" class="control-label">Level of Characters</label>
                    <select class="form-control" name="levelOfChars" id="LevelOfCharacters" required ng-model="levelOfCharacters" ng-options="level as level for level in levels"></select>
                </div>

                <div class="col-md-3">
                    <label for="Difficulty" class="control-label">Difficulty</label>
                    <select class="form-control" id="Difficulty" placeholder="" ng-model="difficulty" ng-options="difficulty.type for difficulty in difficulties track by difficulty.value"></select>
                </div>
                <div class="col-md-3">
                    <label for="Terrain" class="control-label">Terrain</label>
                    <select class="form-control" id="Terrain" placeholder="" ng-model="environment" ng-options="environment.type for environment in environments track by environment.value"></select>
                </div>
            </div>

            <button type="submit" class="btn btn-default btn-primary" ng-disabled="formEncounter.$invalid || isLoading" ng-click="createEncounters()">
                <span ng-show="isLoadingNewEncounter">
                    <i class="glyphicon glyphicon-refresh spinning"></i>
                </span>New Encounter
            </button>

            <encounter-table encounter="encounter" save="saveNewEncounter"></encounter-table>
        </form>
    </div>
</div>
