<div class="row">

    <div class="sidebar col-sm-4 col-md-5" style="max-height: 75%;overflow-y:auto">
        <div class="form-group">
            <input class="form-control" type="search" palceholder="Filter..." id="filter" ng-model="filterMonsters.name">
        </div>
        <div class="navs nav-tabs nav-stacked">
            <a href="#" ng-repeat="monster in allMonsters | filter:filterMonsters | filter:xpFilter | filter:terrainFilter" class="list-group-item" ng-click="addMonster(monster)">
                {{monster.name}} -- {{monster.experienceValue}}
                <div class="pull-right">></div>
            </a>
        </div>
    </div>
    <div class="well col-sm-8 col-md-7">
        <form class="form-horizontal" name="formEncounter">
            <div class="form-group">
                <div class="col-md-3">
                    <label for="NumberOfCharactersSelect" class="control-label">Number of characters</label>
                    <select class="form-control" name="numOfChars" id="NumberOfCharactersSelect" placeholder="" ng-model="numberOfCharacters" required ng-options="level as level for level in levels"></select>
                </div>

                <div class="col-md-3">
                    <label for="LevelOfCharacters" class="control-label">Level of Characters</label>
                    <select class="form-control" name="levelOfChars" id="LevelOfCharacters" required ng-model="levelOfCharacters" ng-options="level as level for level in levels"></select>
                </div>

                <div class="col-md-3">
                    <label for="Difficulty" class="control-label">Difficulty</label>
                    <select class="form-control" id="Difficulty" placeholder="" ng-model="difficulty" ng-options="difficulty.type for difficulty in difficulties track by difficulty.value"></select>
                </div>
                <div class="col-md-3">
                    <label for="Terrain" class="control-label">Terrain</label>
                    <select class="form-control" id="Terrain" placeholder="" ng-model="environment" ng-options="environment.type for environment in environments track by environment.value"></select>
                </div>
            </div>

            <button type="submit" class="btn btn-default btn-primary" ng-disabled="formEncounter.$invalid || isLoading" ng-click="createEncounter()">
                <span ng-show="isLoadingNewEncounter">
                    <i class="glyphicon glyphicon-refresh spinning"></i>
                </span>New Encounter
            </button>

            <encounter-table encounter="encounter"></encounter-table>
            <div class="form-group">
                <div class="col-md-3">
                    <button type="submit" class="btn btn-default btn-primary" ng-click="saveNewEncounter(encounter)" ng-show="encounter && encounter.monsters.length > 0">Save</button>
                </div>

                <div class="col-md-3">
                    <label class="control-label" for="saveName" ng-show="encounter && encounter.monsters.length > 0">
                        <input type="text" id="saveName" ng-model="encounter.Name" placeholder="Encounter Name. . ." />
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>
