<div class="well">
    <h3 style="text-decoration: underline">
        Dashboard
    </h3>
    <div class="panel-group" ng-model="activePanel" data-allow-multiple="false" bs-collapse>
        <div class="panel panel-default" ng-repeat="encounter in savedEncounters">
            <div class="panel-heading" bs-collapse-toggle>
                {{encounter.name}}
                <i class="fa fa-times-circle fa-2x pull-right" ng-click="delete(encounter); $event.stopPropagation();"></i>
            </div>

            <div class="panel-body panel-collapse" bs-collapse-target>
                <monster-block monsters="encounter.monsters"></monster-block>
            </div>
            <!--<div class="panel-footer">
                <button type="button" class="btn btn-default btn-primary btn-sm">Remove</button>
            </div>-->
        </div>
    </div>
</div>
<span class="col-xs-12 text-center" ng-show="isLoadingSavedEncounters">
    <i class="glyphicon glyphicon-refresh spinning fa fa-5x"></i>
</span>
